.extra-info-wrapper {
  max-width: 300px;
}
.header-dropdown-toggle:first-child {
  display: none;
}

.algolia-holder {
  position: absolute;
  top: 15px;
  right: 300px;
  display: inline-block;
}

.algolia-holder .aa-input {
  font-family: Open Sans, Arial, sans-serif;
  border: solid 1px rgba(137,149,199,0.2);
  border-radius: 6px;
  font-size: 13px;
  line-height: 13px;
  padding: 8px 24px 6px 12px;
  height: auto;
  color: #353535;
  width: 250px;
  outline: 0;
}

.algolia-holder svg {
  width: 12px;
  height: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 16px;
  position: absolute;
}

.algolia-holder svg path:not(:first-child) {
  fill: #8995C7;
}

// Autocomplete
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  box-sizing: border-box;
  width: 450px;
  background-color: #fff;
  padding: 10px;

  border-top: 1px solid #eee;
  margin-top: 8px;
  display: block;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),0 2px 3px 0 rgba(0,0,0,0.1);
}

.algolia-autocomplete .aa-dropdown-menu::before {
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 10px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.algolia-autocomplete .aa-suggestion .topic-category {
  font-size: 11px;
  display: block;
}

.algolia-autocomplete .aa-suggestion .topic-category span {
  vertical-align: middle;
}

.algolia-autocomplete .aa-suggestion .topic-category .badge-wrapper,
.algolia-autocomplete .aa-suggestion .topic-category .badge-wrapper .badge-category-bg
{
  border-radius: 50%;
}

.algolia-autocomplete .aa-suggestion .topic-title {
  font-weight: bold;
}

.algolia-autocomplete .aa-suggestion .topic-excerpt {
  color: #777;
  margin-top: 4px;
  font-size: 11px;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  background-color: #d5e9fb;
  color: #53afff;
  font-weight: inherit;
}
