.header-dropdown-toggle:first-child {
  display: none;
}

.algolia-autocomplete {
  margin-left: 20px;
  margin-top: 5px;
  display: inline-block;
  width: 500px;
}

.discourse-instantsearch .aa-input {
  border-radius: 3px;
  border: 0px;
  width: 500px;
  padding: 7px 12px;
}

// Autocomplete
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  box-sizing: border-box;
  width: calc(100% + 20px);
  background-color: #fff;
  padding: 20px;

  border-top: none;
  margin-top: 12px;
  display: block;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),0 2px 3px 0 rgba(0,0,0,0.1);
}

.algolia-autocomplete .aa-dropdown-menu::before {
  display: block;
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  background: #FFFFFF;
  z-index: 1000;
  top: -7px;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  transform: rotate(-45deg);
  border-radius: 2px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 10px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.algolia-autocomplete .aa-suggestion .topic-category {
  font-size: 11px;
  display: block;
}

.algolia-autocomplete .aa-suggestion .topic-category span {
  vertical-align: middle;
}

.algolia-autocomplete .aa-suggestion .topic-category .badge-wrapper,
.algolia-autocomplete .aa-suggestion .topic-category .badge-wrapper .badge-category-bg
{
  border-radius: 50%;
}

.algolia-autocomplete .aa-suggestion .topic-title {
  font-weight: bold;
}

.algolia-autocomplete .aa-suggestion .topic-excerpt {
  color: #777;
  margin-top: 4px;
  font-size: 11px;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  background-color: #d5e9fb;
  color: #53afff;
  font-weight: inherit;
}
