/* don't let topic titles run into the search bar */
.extra-info-wrapper {
  max-width: 300px;
}

/* hide the default search icon */
header .icons > li:nth-child(2) {
  display: none;
}

.algolia-holder {
  padding: 3px 15px 0 0;
}

.algolia-holder .aa-input {
  color: #919191;
  font-family: Open Sans, Arial, sans-serif;
  border: solid 1px rgba(137,149,199,0.2);
  border-radius: 6px;
  font-size: 13px;
  line-height: 13px;
  padding: 8px 10px 8px 35px;
  height: auto;
  width: 250px;
  outline: 0;
  background-image: url("data:image/svg+xml;utf8,<svg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'><path d='M12.5 11h-.79l-.28-.27C12.41 9.59 13 8.11 13 6.5 13 2.91 10.09 0 6.5 0S0 2.91 0 6.5 2.91 13 6.5 13c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L17.49 16l-4.99-5zm-6 0C4.01 11 2 8.99 2 6.5S4.01 2 6.5 2 11 4.01 11 6.5 8.99 11 6.5 11z' fill='%237C8A94' fill-rule='evenodd'/></svg>");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: center;
}

.algolia-autocomplete .aa-empty {
  color: #919191;
}

// Autocomplete
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  box-sizing: border-box;
  width: 410px;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #eee;
  margin-top: 8px;
  display: block;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),0 2px 3px 0 rgba(0,0,0,0.1);
}

.algolia-autocomplete .aa-dropdown-menu::before {
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  text-align: left;
  cursor: pointer;
  padding: 10px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.algolia-autocomplete .aa-suggestion .topic-category {
  font-size: 11px;
  display: block;
}

.algolia-autocomplete .aa-suggestion .topic-category span {
  vertical-align: middle;
}

.algolia-autocomplete .aa-suggestion .topic-category .badge-wrapper,
.algolia-autocomplete .aa-suggestion .topic-category .badge-wrapper .badge-category-bg
{
  border-radius: 50%;
}

.algolia-autocomplete .aa-suggestion .topic-title {
  font-weight: bold;
}

.algolia-autocomplete .aa-suggestion .topic-excerpt {
  color: #777;
  margin-top: 4px;
  font-size: 11px;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  background-color: #d5e9fb;
  color: #53afff;
  font-weight: inherit;
}
