/* make changes to discourse styling outside the affected widgets
   only when the algolia plugin has been enabled */

html:not(.mobile-view) body.algolia-enabled {
  /* don't let topic titles run into the search bar */
  .extra-info-wrapper {
    max-width: 300px;
  }

  /* hide the default search icon */
  header .icons > li.search-dropdown {
    display: none;
  }

  ul.d-header-icons {
    display: flex;
    align-items: center;
  }

  .algolia-holder {
    margin-right: 0.5em;
    text-align: left;

    form {
      margin: 0;
    }
  }

  .algolia-holder .aa-Input {
    color: var(--primary-medium);
    font-family: "Open Sans", Arial, sans-serif;
    border: solid 1px var(--primary-low);
    border-radius: 6px;
    font-size: 13px;
    line-height: 13px;
    padding: 8px 10px 8px 35px;
    height: auto;
    width: 250px;
    outline: 0;
    background-image: url("data:image/svg+xml;utf8,<svg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'><path d='M12.5 11h-.79l-.28-.27C12.41 9.59 13 8.11 13 6.5 13 2.91 10.09 0 6.5 0S0 2.91 0 6.5 2.91 13 6.5 13c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L17.49 16l-4.99-5zm-6 0C4.01 11 2 8.99 2 6.5S4.01 2 6.5 2 11 4.01 11 6.5 8.99 11 6.5 11z' fill='%237C8A94' fill-rule='evenodd'/></svg>");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: 10px center;
  }

  @media (max-width: 768px) {
    .algolia-holder .aa-input {
      display: none;
    }
  }

  .algolia-autocomplete .aa-dropdown-menu {
    left: -295px !important;
    margin-top: 8px;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }
}
